body{
  
}

.container {
   
    margin: 20px 20px 20px 60px;
}



#item-cards{
    margin-left: 100px;
}

nav{
    margin-top: 63px;
}

#search{
    color: steelblue;
}

#img-amazon{
    margin-top: 70px;
    
}