/* Changing the mouse cursor to the pointer hand */
#newSearch:hover {
    cursor: pointer;
}

/* setting size for the card images */
.card-size {
    height: 225px!important;
    width: 225px!important;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 15px !important;
}

.no-left-margin {
    margin-left: 0!important;
}

/* Google font */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Materialize container default width is too tight. Adjusting for our project */
.wrapper {
    width: 100%;
}

/* animation LOGO */
#img-logo{
position: relative;
animation-name: logoAnimation;
animation-duration:3s;
height:200px; 
width: 280px;
}

@keyframes logoAnimation{
    0%   {left:-300px; top:0px;}
    25%  {transform: rotate(45deg);left:20px; top:0px;} 
    50%  {transform: rotate(360deg);left:-150px; top:0px;}
    75%  { transform: rotateY(360deg);left:0px; top:0px;}
    100% { left:0px; top:0px;} 
}
/* end animation LOGO */

.margin-20 {
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

/* setting height for search bar */
.search-height {
    height:64px !important;
    margin: 0px !important;
}

.progress{
    display: none;
    text-align:  center;
    position: relative;

}