#newSearch:hover {
    cursor: pointer;
}

.card:hover {
    border-color: gold;
    border-width: 3px;
}
.card-size {
    height: 225px!important;
    width: 225px!important;
}

.no-left-margin {
    margin-left: 0!important;
}

.card {
    padding-left: 25px;
    padding-right: 25px;
}

body {
    width: 100%;
   
}

.wrapper {
    width: 90%;
}

.card-selection{
    margin: 20px 200px 0px 200px;
    padding: 0px;
    width: 200px;
}
/* animation LOGO */
#img-logo{
position: relative;
animation-name: logoAnimation;
animation-duration:3s;
height:200px; 
width: 280px;
}

@keyframes logoAnimation{
    0%   {left:-300px; top:0px;}
    25%  {transform: rotate(45deg);left:20px; top:0px;} 
    50%  {transform: rotate(360deg);left:-150px; top:0px;}
    75%  { transform: rotateY(360deg);left:0px; top:0px;}
    100% { left:0px; top:0px;} 
}

/* end animation LOGO */
  
.margin-20 {
    margin-bottom: 20px;
}

p {
    text-align: justify;
}




/* CSS for animation title */
#animationTitle{
    position: relative;
}

#animationTitle-N{
    position: absolute;
    top:35%;
    left:30%;
    font-size: 30px;
    color:greenyellow;
    
}

#animationTitle-a{
    position: absolute;
    top:35%;
    left:38%;
    font-size: 30px;
    color:greenyellow;
}

#animationTitle-m{
    position: absolute;
    top:35%;
    left:43%;
    font-size: 30px;
    color:greenyellow;
}

#animationTitle-e{
    position: absolute;
    top:35%;
    left:50%;
    font-size: 30px;
    color:greenyellow;
}

