.card:hover {
    border-color: gold;
    border-width: 3px;
}
.card-size {
    height: 225px!important;
    width: 225px!important;
}

.no-left-margin {
    margin-left: 0!important;
}

.card {
    padding-left: 25px;
    padding-right: 25px;
}

body {
    width: 100%;
}

.wrapper {
    width: 85%;
}